@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background-color: $color-rich-black;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
}

h2 {
  font-family: 'Satisfy', cursive;
  letter-spacing: 2px;
  font-size: 1.75rem;
}

* {
  box-sizing: border-box;
}
